body {
	/*background: url("images/train1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

.jumbotron {
	color: white;
	background-color: rgba(1,0,0,0.3);
}

.trainData {
	font-weight: 500;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}